node_modules
trials
.env
bash.exe.stackdump
# googleduickdrawdatasets/*
*.ndjson
*.aof
tbn.js
# !.googleduickdrawdatasets/
# !/googleduickdrawdatasets/.gitkeep
# googleduickdrawdatasets
# docker-compose.yml
# docker-compose.debug.yml
# Dockerfile